<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question }}</title>
</head>
<body>
    <p><b>Question:</b></p>
    <p>{{ question }}</p>
    <p></p>
    {% if answers_list %}
        <p><b>Answers:</b></p>
        <ul>
        {%  for answer in answers_list %}
            <li>{{ answer }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{{ question.get_url }}">
        <fieldset>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        <button type="submit">Reply</button>
    </form>
</body>
</html>