<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="POST" action="/signup/">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="control-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                SignUp
            </button>
        </div>
    </form>
</body>
</html>